
{%load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" type = "text/css" href="{% static 'assets/css/main.css' %}" />

  <title>Document</title>
</head>
<div id="page-wrapper">
{% block content %}

<!-- Features -->
<section id="features">
  <div class="container">
    <header>
      <h2> <strong>{{ store.name }} :)</strong></h2>
      <p> {{ store.num }}<strong></strong></p>
      <p>{{store.content}}</p>
    </header>
    <div class="row">
      
    <div class="row aln-center">
        {% for macaron in product_list %}
      <div class="col-4 col-6-medium col-12-small">

        <!-- Feature -->
        
          <section>
            <img src="{{macaron.picture.url}}" class="image featured" height=200 alt="macaron pic" />
            
            <header>
              <h3>{{macaron.name}}</h3>
            </header>
            <p>{{macaron.price}} won </p>
            {{macaron.pic_content}}
            <p>left : <strong>{{macaron.stock}}</strong></p>
            <div class="col-4">
              <input type="text" name="num_mac"> 
              <button type="submit"> 예약 </button>
             </div>
            
          </section>
         
      </div>
      {% endfor %}
      
      
      <div class="col-12">
          {% if user == store.owner %}
        <ul class="actions">
          <li><a href="{% url 'store:edit' store.id%}" class="button icon fa-file">Add Macarons</a></li>
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
</div>
</html>




