{% extends 'base.html' %}

{% load staticfiles %}

<!DOCTYPE HTML>
<html>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			{% block content %}
			<!-- Features -->
				<section id="features">
					<h2 class="inTitle">Which store do you want do edit?</h2>
                        {% if store_list %} 
                            {% for store in store_list %}
                            <h3><a href= "{{ store.get_absolute_url }}"><strong>{{ store.name }}</strong></a></h3> 
							<form method = "post" action="{% url 'store:editmystore' profile.user.id store.id %}">
                                    {% csrf_token %}
							<div class="my_infobox" style="padding-left: 20%; padding-right: 20%">
									<table width="100" cellpadding="3%" cellspacing="0" summary="가게 수정">
										<colgroup>
										</colgroup>
										<tbody>
													
													{% if store.store_pic %}
														<img src="{{ store.store_pic.url }}" style="height:230px;width:350px;"  alt="store thumbnail" >
													{% endif %} 
														
												<tr>
													<th scope="row">Store name</th>
                                                    <div class= a name="StoreName" value= {{store.name}}></div>
													<td><input type="text" name="storename" title="이름을 입력하세요" class="t_input " value = {{store.name}}></td>
													<th scope="row">Phone num</th>
													<td><input type="text" name="storenumber" title="번호를 입력하세요" class="t_input" value = {{store.num}}></td>
												</tr>
												<tr>
												<th scope="row">Store details</th>
												<td colspan="6"><input type="text" name="storecontent" title="내용 입력하세요" class="t_input" value= {{store.content}}> <span></span></td>
											</tr>
										</tbody>
                                    </table>
									<button id="sub_btn" type="submit" value="Submit">Submit</button>
								</form>
								<br><br><hr>
							<br><br><br><br>
                                </div>
                               
							{% endfor %}
						{% else %}
							<br><br><h5 class="inTitle">No store exists</h2>
                        {% endif %}
                            
				</section>
			{% endblock %}
		</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
            <script src="{% static 'assets/js/main.js' %}"></script>
            <script>
            
            
            </script>


	</body>
</html>
<br><br> 
