<h2 class="inTitle">Edit</h2> 
    <form method = "POST">
    {% csrf_token %}
    <div class="my_infobox">
        <table width="100%" cellpadding="3%" cellspacing="0" summary="회원정보를 나타낸 표">
            <colgroup>
                <col style="width:12%">
                <col style="width:12%">
                <col style="width:12%">
                <col style="width:38%">
            </colgroup>
            <tbody>
                <tr>
                    <th scope="row">ID</th>
                    <td colspan="3"><input type="username" title="아이디를 입력하세요" name = "username" value= {{profile.user.username}} class="t_input" disabled=""> <span></span></td>

                </tr>
                                        
                    <tr>
                        <th scope="row">New Password</th>
                        <td><input type="password" name="passwd" title="비밀번호를 다시 입력하세요" class="t_input"></td>
                        <th scope="row">New Password Check</th>
                        <td><input type="password" name="repasswd" title="비밀번호를 다시 입력하세요" class="t_input"></td>
                    </tr>
                                    <tr>
                    <th scope="row">Name</th>
                    <td colspan="3"><input type="name" title="이름을 입력하세요" class="t_input" value= {{profile.user.first_name}} disabled="disabled"> <span></span></td>
                </tr>
                <tr>
                    <th scope="row">Phone Number</th>
                    <td colspan="3">
                        <input type="text" name="phone" class="t_input small" maxlength="3" value=0{{profile.get_phone_num}}> 
                    </td>
                </tr>
                <tr>
                    <th scope="row">E-mail</th>
                    <td colspan="3">
                                                        <input type="text" class="t_input" value={{profile.user.email}} disabled="">
                            <span></span>
                                                </td>
                </tr>
            </tbody>
        </table>
        {% if profile.user_type %}
            <input type="radio" name="type" value="owner" checked> Owner<br>
            <input type="radio" name="type" value="customer" > Customer<br>
        {% else %}
            <input type="radio" name="type" value="owner"> Owner<br>
            <input type="radio" name="type" value="Customer" checked> Customer<br>
	    {% endif %}        

    </div>
    <p></p>
    
    <div class="btn_center">
            <input class="btn_s" type="submit" value="Submit">
    </form>
        <input class="btn_c" type="submit" value="Cancle">
    </div>