{% extends 'base.html' %}

{% load staticfiles %}

<!DOCTYPE HTML>
<html>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			{% block content %}
			<style>
					div.radio-wrap {
					display: inline-flex;
					align-items: center;
					}
			
					input[type='radio'],
					input[type='radio']:checked {
					appearance: none;
					width: 0.9rem;
					height: 0.9rem;
					border-radius: 100%;
					margin-right: 0.1rem;
					}
			
					input[type='radio'] {
					background-color: #e8e8e8;
					}
					input[type='radio']:checked {
					background-color: #ed786a;
					}
					
					</style>
					
			<!-- Features -->
				<section id="features">
					<h2 class="inTitle">Edit</h2> 
    <form method = "POST">
    {% csrf_token %}
    <div class="my_infobox" style="padding-left: 20%; padding-right: 20%">
        <table width="100" cellpadding="3%" cellspacing="0" summary="회원정보를 나타낸 표">
            <colgroup>
            </colgroup>
            <tbody>
                <tr>
                    <th scope="row">ID</th>
                    <td colspan="3"><input type="text" name = "username" value= "{{profile.user.username}} (Cannot Change)" class="t_input" disabled=""> <span></span></td>
                </tr>                                        
                    <tr>
                        <th scope="row">New Password</th>
                        <td><input type="password" name="passwd" title="Please enter your new password" class="t_input"></td>
                        <th scope="row">Check New Password</th>
                        <td><input type="password" name="repasswd" title="Please enter your new password" class="t_input"></td>
                    </tr>
                                    <tr>
                    <th scope="row">Name</th>
                    <td colspan="3"><input type="text" name="name" title="Please enter your name" class="t_input" value= {{profile.name}}> <span></span></td>
                </tr>
                <tr>
                    <th scope="row">Phone Number</th>
                    <td colspan="3">
                        <input type="text" name="phone" class="t_input small" value={{profile.phone}}> 
                    </td>
                </tr>
                <tr>
                    <th scope="row">Email Address</th>
                    <td colspan="3">
                        <input type="text" class="t_input" value="{{profile.email}} (Cannot Change)" disabled="">
                    </td>
                </tr>
            </tbody>
        </table>
		{% if profile.user_type %}
			<div class="radio-wrap">
				<input type="radio" name="type" value="customer"> Customer
			</div>
			<div class="radio-wrap">
				<input type="radio" name="type" value="owner" checked> Owner
			</div>
        {% else %}
		<div class="radio-wrap">
				<input type="radio" name="type" value="customer" checked> Customer
			</div>
			<div class="radio-wrap">
				<input type="radio" name="type" value="owner"> Owner
			</div> 
	    {% endif %}        

    </div>
    <p></p>
    
    <div class="btn_center">
            <input class="btn_s" type="submit" value="Submit">
			<a href="/accounts/mypage/{{profile.user.id}}" class="button">Cancel</a>
			{% if messages %}
            <ul class="messages">
                 {% for message in messages %}
                 <script>
                        alert('{{message}}')
                </script>
                {% endfor %}
            </ul>
            {% endif %}
    </form>
    </div>
				</section>

				{% endblock %}
		</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>


	</body>
</html>
<br><br>