{% extends 'base.html' %}

{% load staticfiles %}

<!DOCTYPE HTML>
<html>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			{% block content %}

			<!-- Features -->
				<section id="features">
					<h2 class="inTitle">MyPage</h2><br>
					Welcome! {{profile.user.username}}<br>
					Name : {{profile.name}}<br>
					Phone Number : {{profile.phone}}<br>
					Email Address : {{profile.email}}<br>

			{% if profile.user_type %}
				<div class="myinfo"> Type: Owner</div>
				<div class="my_link">
				<p></p>
				<div style="border:1px solid; width: 20%; height: 180px; padding:10px; margin:10px; float:right; margin-right: 19%; position: relative; line-height: 160px"><a href="/store/mystores/{{profile.user.id}}">Change Store Information</a></div>
				<div style="border:1px solid; width: 20%; height: 180px; padding:10px; margin:10px; float:right; position: relative; line-height: 160px"><a href="/accounts/editmypage/{{profile.user.id}}">Change Personal Information</a></div>
				<div style="border:1px solid; width: 20%; height: 180px; padding:10px; margin:10px; float:right; position: relative; line-height: 160px"><a href="/reservation/Reser_list_owner/{{profile.user.id}}">Check Reservation</a></div> <!--리뷰리스트 링크-->				
			</div>
			{% else %}
			<div class="myinfo"> Type: Customer</div>
				<div class="my_link" style="text-align: center">
				<p></p>
				<div style="border:1px solid; width: 20%; height: 180px; padding:10px; margin:10px; float:right; position: relative; left: -50%; line-height: 160px"><a href="/accounts/editmypage/{{profile.user.id}}">Change Information</a></div>
				<div style="border:1px solid; width: 20%; height: 180px; padding:10px; margin:10px;float:left; position: relative; left: 50%; line-height: 160px"><a href="/reservation/Reser_custom/{{profile.user.id}}">Check Reservation</a></div> <!--예약확인 링크-->
			</div>
			{% endif %}
				</section>

			{% endblock %}
		</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>


	</body>
</html>
<br><br>