{% extends 'base.html' %}

{% load staticfiles %}
<!DOCTYPE HTML>
<html>

{% block content %}
    <section id="header">
        <header>
            <div><h2>Review List</h2></div>
        </header>
    </section>
    <section id="feadtures">
    <div class=contianer>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Writer</th>
                    <th>Date</th>
                    <th>Rate</th>
                </tr>
                <tr>
                </tr>
            </thead>

            <tbody style="text-align:center;">
                {% if review_text.all %}
                    {% for text in review_text.all %}
                <tr>
                    <td width="400px">{{text.title}}</a></td>
                    <td width="100px">{{text.writer}}</td>
                    <td width="200px">{{text.post_date}}</td>
                    <td>{{text.rate}}</td>
                </tr>
                <tr>
                    <td colspan="4">{{text.content}}</td>
                </tr>
                  {% endfor %}
                {% else %}
                 <p>There are no reviews</p>
                {% endif %}
            </tbody>
        </table>
    </div>

    <hr>
    <div class="row aln-center"><h2>Write your review!</h2></div>
    <div class="container">
        <form action = "{% url 'review:post_review' store.id %}" method = "POST">
            {% csrf_token %}
            <div class="container">
                <textarea name = "head"  placeholder="Write title"></textarea>
                <textarea name = "body"  placeholder="Write content"></textarea>
                <input type = "submit", value = "Post">
            </div>

            {% if messages %}
            <ul class="messages">
                 {% for message in messages %}
                 <script>
                        alert('{{message}}')
                </script>
                {% endfor %}
            </ul>
            {% endif %}
        </form>
    </div>
    </section>

{% endblock %}

</html>