{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="./src/bootstrap-input-spinner.js"></script>

    <title>New Store</title>
</head>


<script>
    $("input[type='number']").inputSpinner()
</script>

{% block content %}
<div>
    <div id="page-wrapper">
        <section id="features">
			<div class="container">
                 <h1 style="font-size:40px">MACARON REGISTRATION</h1>
            </div>
        </section>
    </div>
    <form style="margin:auto; width:60%; margin-top:5%;" method="post" enctype="multipart/form-data" action="{% url 'store:edit' store.id %}">
     {% csrf_token %}
     <p><strong>MACARON NAME</strong>
     <input required type="text" name="title" placeholder="Enter a name"></p>
     <p><strong>MACARON COST : </strong>
    <input placeholder=" Enter a number " required type="number" style="text-align:center; border-radius:10px" min="1000" step="500" name="cost"/>
    </p>
    <p><strong>MACARON COUNT : </strong>
    <input required type="number" min="0" name="num" style="text-align:center; border-radius:10px" placeholder=" Enter a number ">
    </p>
     {{form.as_p}}
     
        <div style="margin-left:80%;">
	    	<ul class="actions">
            <input type="submit", value="REGISTER">
            </ul>
	    </div>
        
     </form>

</div>  
{% endblock %}
 
</html> 
