<h1>판매자들이 예약현황을 확인하는 페이지입니다.</h1>

    <div class="titleArea">
        <h2>마카롱 예약현황</h2>
    </div>
    
    <li>최근 3개월간의 자료를 조회하실 수 있습니다.</li>
    <li class="displaynone">오너의 승인 이후 주문이 정상적으로 완료되니 승인여부를 꼭 확인해주시기 바랍니다.</li>
        </ul>
    </div>
    <input id="mode" name="mode" value="" type="hidden">
    <input id="term" name="term" value="" type="hidden">
    </form>
   
    <div class="title">
            <h3>예약 상품 정보</h3>
        </div>
    <table border="1" summary="">
        <colgroup>
            <col style="width:100px;">
            <col style="width:100px;">
            <col style="width:100px;">
            <col style="width:135px;">
            <col style="width:100px;">
            <col style="width:100px;">
            <col style="width:135px;">
            <col style="width:135px;">
            <col style="width:135px;">
        </colgroup>
            
    <thead><tr>
    <th scope="col"> 주문번호 </th>
    <th scope="col"> 주문자 이름 </th>
    <th scope="col"> 마카롱 이름 </th>
    <th scope="col">     이미지    </th>
    <th scope="col"> 구매 수량 </th>
    <th scope="col"> 구매 금액 </th>
    <th scope="col">  방문예정날짜  </th>
    <th scope="col">  방문예정시각  </th>
    <th scope="col"> 승인처리유무 </th>
    </tr></thead>
    <tbody class="center ">
    
    </tbody>
    </table>
    <p class="message displaynone">주문 내역이 없습니다.</p>
    </div>