{% extends 'base.html' %}

{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en">
                <head>
                  
                  <meta charset="UTF-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1.0">
                  <meta http-equiv="X-UA-Compatible" content="ie=edge">
                  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
                  <link rel="stylesheet" type = "text/css" href="{% static 'assets/css/main.css' %}" />
                
                  <title>Document</title>
                </head>
                <div id="page-wrapper">

    {% block content %}

    <section id="features">
        <div class="container">
            <header>
                <h2>Reservation lists of the Store of <strong>{{profile.user.username}}</strong></h2>
            </header>
                <div class="row aln-center">
                <div class="col-12">
    
        <header>
            <h3>check whether you approve reservation!
            </h3>
        </header>
        <p>Without shop owner's approval, reservation is not done.
            so check approval of reservation.</p>

    <table border="1" summary="">
        <colgroup>
            <col style="width:100px;">
            <col style="width:100px;">
            <col style="width:100px;">
            <col style="width:100px;">
            <col style="width:100px;">
            <col style="width:135px;">
            <col style="width:145px;">
        </colgroup>
        {% if reservation_list %}        
    <thead><tr>
    <th scope="col"> number </th>
    <th scope="col"> customer name </th>
    <th scope="col"> macaron name </th>
    <th scope="col"> how many </th>
    <th scope="col"> price </th>
    <th scope="col">  due date and time  </th>
    <th scope="col"> approval </th>
    </tr></thead>
    <tbody class="center ">
        {% for reservation in reservation_list%}
        <thead><tr>
            <th scope="col">{{reservation.reser_num}}</th>
            <th scope="col">{{reservation.customer}}</th>
            <th scope="col">{{reservation.choice_macaron}}</th>
            <th scope="col">{{reservation.quantity}}</th>
            <th scope="col">{{reservation.amount}}</th>
            <th scope="col">{{reservation.reser_time}}</th>
            <th scope="col">
                {% if reservation.approve %}
                    approval is done.
                {% else %}
                <form action="{% url 'reservation:request_approve' reservation.reser_num%}" method = "POST">
                {% csrf_token %}
                <input type="submit" value="approve" style="height:30px; width:140px;">
                {% endif %}
                </th>
            </tr></thead>
        {% endfor %}
    {% else %}
    <p class="message displaynone">There is no reservation.</p>
    {% endif %}     
            </tbody>
        </table>
        </div> 
        </div> 
</div>

</div>
{% endblock %}
</body>
</html>  
<br><br>