{% extends 'base.html' %}

{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en">
                <head>
                  
                  <meta charset="UTF-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1.0">
                  <meta http-equiv="X-UA-Compatible" content="ie=edge">
                  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
                  <link rel="stylesheet" type = "text/css" href="{% static 'assets/css/main.css' %}" />
                
                  <title>Document</title>
                </head>
                <div id="page-wrapper">

    {% block content %}
    <style>
            div.radio-wrap {
            display: inline-flex;
            align-items: center;
            }
    
            input[type='radio'],
            input[type='radio']:checked {
            appearance: none;
            width: 0.9rem;
            height: 0.9rem;
            border-radius: 100%;
            margin-right: 0.1rem;
            }
    
            input[type='radio'] {
            background-color: #e8e8e8;
            }
            input[type='radio']:checked {
            background-color: #ed786a;
            }
        </style>

    <section id="features">
        <div class="container">
            <header>
                <h2>Reservation lists of <strong>{{store.name}}</strong> store</h2>
            </header>
                <div class="row aln-center">
                <div class="col-12">
    
        <header>
            <h3>check your reservation request!
            </h3>
        </header>
        <p>Without shop owner's approval, reservation is not done.
            Please check approval of reservation.</p>

            

    <table border="1" summary="">
        <colgroup>
            <col style="width:100px;">
            <col style="width:100px;">
            <col style="width:100px;">
            <col style="width:100px;">
            <col style="width:100px;">
            <col style="width:135px;">
            <col style="width:145px;">
        </colgroup>
        {% if reservation_list %}        
    <thead><tr>
    <th scope="col"> number </th>
    <th scope="col"> customer name </th>
    <th scope="col"> macaron name </th>
    <th scope="col"> how many </th>
    <th scope="col"> price </th>
    <th scope="col">  due date and time  </th>
    <th scope="col"> approval </th>
    </tr></thead>
    <tbody class="center">
        {% for reservation in reservation_list%}
        <thead><tr>
            <th scope="col">{{reservation.reser_num}}</th>
            <th scope="col">{{reservation.customer}}</th>
            <th scope="col">{{reservation.choice_macaron}}</th>
            <th scope="col">{{reservation.quantity}}</th>
            <th scope="col">{{reservation.amount}}</th>
            <th scope="col">{{reservation.reser_time}}</th>
            <th scope="col">
                {% if reservation.approve == 0 %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="radio-wrap">
                        <input type="radio" name="type" value="approve"> approve
                    </div>
                    <div class="radio-wrap">
                        <input type="radio" name="type" value="reject"> reject
                    </div>
                    <input type = "submit" value = "submit">
                </form>    
                {% else %}
                    {% if reservation.approve == 1 %}
                    approved
                    {% else %}
                    rejected
                    {% endif %}
                {% endif %}        
                </th>
            </tr></thead>
        {% endfor %}
    {% else %}
    <p class="message displaynone">There is no reservation.</p>
    {% endif %}     
            </tbody>
        </table>
        </div> 
        </div> 
</div>

</div>
{% endblock %}
</body>
</html>  
<br><br>